= render 'shared/errors', local: true, resource: @question

p = link_to 'Ask question', new_question_path

p = render 'shared/signed.html.slim', local: true

hr
- @questions.each do |question|
  p = link_to question.title, question_path(question)
p = render 'shared/footer', local: true
