= render 'shared/errors', local: true, resource: @question

h2= @question.title
p = @question.body

- if current_user&.author?(@question)
  = link_to 'Delete question', question_path, method: :delete

hr
h3 Answers
= render @question.answers

- if user_signed_in?
  = render 'questions/form'

- else
  | Sign_in or Sign_up if you want to leave an answer

p = link_to 'Back', root_path
p = render 'shared/footer', local: true


